body {
  margin: 0;
  background: linear-gradient(180deg, rgb(40, 40, 40), rgb(10, 10, 10));
  color: #FFFFFF;
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 1280px;
  min-width: 320px;
  padding: 1rem 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #333333;
  color: #FFFFFF;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: #1a1a1a;
  color: #FFFFFF;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

a {
  color: #4dabf7;
  font-weight: 800;
  text-decoration: none;
}

textarea:focus,
input:focus {
  border-color: #4dabf7 !important;
  outline: none;
}

button.submit-button {
  background-color: #4dabf7;
  color: #FFFFFF;
  border: none;
  padding: 0.6em 1.2em;
  border-radius: 18px;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.25s;
}
button.submit-button--loading {
  background-color: #4dabf7;
  opacity: 0.8;
}

/* The prefers-color-scheme media query detects the system setting */
@media (prefers-color-scheme: dark) {
  [data-amplify-color-mode='system'] {
    --amplify-colors-background-primary: black;
  }
}

[data-amplify-color-mode='dark'] {
  --amplify-colors-background-primary: black;
}